DBPWD: ufR6aPRy9JsCgWH8

mongodb+srv://quicknotify:<db_password>@quicknotify.vyhrq3t.mongodb.net/?appName=quicknotify

# For notification_db (notification + delivery service)
mongodb+srv://quicknotify:YOURPASSWORD@quicknotify.vyhrq3t.mongodb.net/notification_db?retryWrites=true&w=majority&appName=quicknotify

# For delivery_db (delivery logs)
mongodb+srv://quicknotify:YOURPASSWORD@quicknotify.vyhrq3t.mongodb.net/delivery_db?retryWrites=true&w=majority&appName=quicknotify

# Rabbitmq
amqps://yrvrbmyc:ByIfN5ggT971w6bRwMata4QrbtRhIyPI@gorilla.lmq.cloudamqp.com/yrvrbmyc

# POSTgres
postgresql://postgres:HIsIVMtALaJhzLZWteThWwagmNQRxpTS@yamanote.proxy.rlwy.net:27887/railway